.indicator{
    background:white;       
}

.textfont{
    font-size:16px;
}

.subtextfont{
    font-size:14px;
}

.headIndicator{
    background-color:#00af66;
    color:white;
    border-radius:2px;
    padding:7px;
}

.whole{
    margin-top:20px;
}


