/* indicator begin */

.forestrywhole{
    
}
.indicator{
    background:white;       
}

.textfont{
    font-size:16px;
}

.subtextfont{
    font-size:14px;
}

.headIndicator{
    background-color:#00af66;
    color:white;
    border-radius:2px;
    padding:7px;    
}

.whole{
    margin-top:20px;
}

/* indicator end */

/*header begin*/
.navbar-custom {
    background: #00af66;
    color:#ffffff;
    border-radius:0;     
}

.navbar-custom .navbar-nav > li > a:hover {
    color:#00af66;
    background:white; 
    
   
  }

  .navbar-custom .navbar-nav > li > a {
    color:white;
    font-size:16px;
    font-weight:bold;
    font-family: sans-serif;
   
  }

 .logo{
    height:60px;
    width:120px; 
    background-color: white;  
    border-radius: 10px;  
         
  }

  .logo:hover{
    border:1px solid #00af66;    
  }

  .icon-bar {
    background-color:white !important;
 }

 .language{
     margin-top:20px;
 }
 /* header end */

 /* graph begin */

 .sidespace{
    margin:0px 25px 10px 0px;
}


.graphshow{
    margin:12px;
}

.bggraph{
    background: white;
}

 /* graph end */